<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="global_verbose" xsi:type="File" filename="${basedir}/logs/logs_verbose.txt" />
		<target name="global" xsi:type="File" filename="${basedir}/logs/logs.txt" />
		<target name="combining" xsi:type="File" filename="${basedir}/logs/logs_combine.txt" />
		
		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="global" />
		<logger name="*" writeTo="global_verbose" />
		<logger name="*" writeTo="console" />

		<logger name="combining" writeTo="combining" />
	</rules>
</nlog>
