<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="baseLayout" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${logger}: ${level}] ${message} ${newline} ${exception:format=toString}"/>

	<targets>
		<target name="global_verbose" xsi:type="File" filename="${basedir}/Logs/logs_verbose.txt" layout="${baseLayout}" />
		<target name="global" xsi:type="File" filename="${basedir}/Logs/logs.txt" layout="${baseLayout}" />

		<target name="console" xsi:type="Console" layout="${baseLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="global" />
		<logger name="*" minlevel="Debug" writeTo="global_verbose" />
		<logger name="*" writeTo="console" />
	</rules>
</nlog>
